* {
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

label {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  color: #222;
  margin-bottom: 10px;
}

input {
  font-size: 1.3rem;
  text-align: center;
  width: 330px;
}

#container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#outputs {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#character {
  padding: 0 10px 2px;
  border-bottom: #222 solid 2px;
}

#comment {
  text-justify: auto;
}
